div.detail-map-section {
    margin: 20px;
}


/* Mobile */

@media only screen and (max-width:414px) {
    div.detail-introduction {
        height: 200px;
        overflow-y: scroll;
    }
    div.detail-map#map {
        width: 100%;
        height: 300px;
    }
    div.map-section {
        display: block;
    }
    div.map-content-section {
        margin-top: 20px;
        width: 100%;
        height: 200px;
        overflow-y: scroll;
    }
    ul.detail-map-content {
        width: 100%;
        padding-left: 0;
        border: 0.0125rem solid;
        margin: 0 0 0.0625rem;
    }
}


/* Desktops and Tablets */

@media only screen and (min-width: 415px) {
    div.detail-map#map {
        width: 70%;
        height: 500px;
    }
    div.map-section {
        display: flex;
    }
    div.map-content-section {
        width: 30%;
        height: 500px;
        overflow-y: scroll;
    }
    ul.detail-map-content {
        border: 0.0125rem solid;
        margin: 0 0 0.0625rem;
    }
}