div.swiper-div section {
    border-bottom: 1px solid;
}

div.swiper-div section aside {
    text-align: center;
}

div.swiper-div .swiper {
    margin-bottom: 2em;
}

div.swiper-div:not(:last-of-type) {
    width: 50%;
    display: inline-block;
}